@use "../../utils/helper" as h;

@mixin navbar() {
  .navbar {
    @include h.flex($justify: space-between);
    padding: 2.1rem h.$px-layout;
    font-size: 1rem;

    .logo {
      font-family: h.$jetbrains-mono;
      font-size: 1.8rem;
      cursor: pointer;
    }

    .time {
      pointer-events: none;
    }

    .menu {
      @include h.flex();
      gap: 3.6rem;

      &-link {
        cursor: pointer;

        &.active {
          font-family: h.$jetbrains-mono;
          font-weight: 500;
        }
      }
    }
  }
}
