@use "../utils/helper" as h;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden auto;
  font-family: h.$space-mono;
  scrollbar-width: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

@media (max-width: 767.98px) {
  html,
  body {
    overflow-y: auto;
  }
}
